.blue {
    color: #36A2EB;
}

.pink {
    color: #FF6384;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.line-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background-color: #36A2EB;
}

.color {
    color: #36A2EB;
}

.border-item {
    border: 1px solid #36A2EB;
} 

@media (max-width: 576px) { 
    .chart-container {
        height: 400px;
    }
    .pie {
        width: 100%;
        height: 70%;
    }
}

@media (min-width: 576px) { 
    .chart-container {
        height: 400px;
    }
    .pie {
        width: 100%;
        height: 80%;
    }
}

@media (min-width: 992px) { 
    .chart-container {
        height: 400px;
    }
}
  